modules = ["nodejs-20", "web", "bash", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]
runButton = "Npm install/run/start"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Run"
author = 808063
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Npm install/run/start"
mode = "sequential"
author = 36637475

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[objectStorage]
defaultBucketID = "replit-objstore-f945c3eb-851b-40c9-a101-b3bdbdc28497"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 45467
externalPort = 3000

[userenv]

[userenv.shared]
VITE_VAPID_PUBLIC_KEY = "BF3dvVB4WAhfCq3F6xAwafRuW8iqU7sYcFK7HXttLA-k3cwMAwDttEIq1FCAkDMA55IcezTsbdo7X72J5DXRTYI"
